@charset "utf-8";

$pink: #FD9393;
$lightPink: #FEF0E9;
$red: #fe093e;
$green: #0fbe59;
$white: #fefefe;
$blue:  #5e81f4;
$grey: #fefefe;
$family-sans-serif: 'Roboto', sans-serif;
$primary: $pink;
$danger: $red;
$success: $green;
$input-focus-border-color: $primary;
$input-hover-border-color: $primary;
$input-focus-box-shadow-color: $lightPink;
$input-focus-box-shadow-size: 0 0 0 0.1em;
$dropdown-item-active-color: #000000;
$dropdown-item-active-background-color: #f4f4f4;
$dropdown-item-hover-background-color: #fafafa;

$navbar-breakpoint: 100000000 !default
@import '../node_modules/bulma/bulma.sass';