.select:not(.is-multiple):not(.is-loading)::after{
	border-color: #d6d5d5 !important;
	border-width: 3px !important;
}

p, .box a, option{
	font-size: .825rem !important;
	color: #181818;
	text-decoration: none;
}

.btn, .input{
	padding-left: 20px !important;
	padding-right: 20px !important; 
	padding-top: 6px !important;
	padding-bottom: 6px !important;
	height: auto !important;
	font-size: .825em !important;
}

.btn{
	border: none !important;
}
.respond{
	margin-bottom: .2em;
	margin-top: .2em;
	font-size: .75rem !important;
}

.box{
	border: solid .2em none !important;
	background-color: #fdfdfe;
}
html{
	background: #ffa495;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ffd0c8,#ff8585) no-repeat fixed;;  
	background: linear-gradient(to left, #ffd0c8,#ff8585) no-repeat fixed;;
	background-size: cover !important;
}

.search .box{
	width: 70%;
	padding: 0 !important;
	margin-block-end: .2em !important;
	margin-inline-end: .5em !important;
}


.up-menu{
	display: block;
}

.wrapper{
	display: flex;
	flex-direction: column;
}

.up-menu .btn, .dropdown .button{
	vertical-align: bottom !important;
	margin-block-start: .5rem !important;
	margin-inline-start: .75em !important;
}

.dropdown .button{
	margin-inline-start: 0em !important;
}

.search{
	margin-inline-start: .75em !important;
}

.product-card{
	margin-block-start: 1.5em;
}
.button-group, .product-card{
	margin-inline-start: .75em !important;
}
.card-content.box{
	margin-block-start: .5em;
	padding: 1.5em !important;
}
.products .box{
	width: 270px;
	height: 270px;
	margin-block-start: .8rem;
	margin-block-end: .8rem;
	margin-inline-start: .8rem !important;
	margin-inline-end: .8rem !important;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.form{
	flex: none !important;
}


.info .field{
	margin-inline-end: 2em !important;
}
.value{
	margin: 0 !important;
}

.wrapper{
	width: 98.5% !important;
}
@media screen and (max-width: 600px){
	.card-content.box, .image{
		display: block;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.info p{
		font-size: 0.8em !important;
	}
	.info .field{
		font-size: 0.9em !important;
		font-weight: 600 !important;
	}
	.form{
		margin-left: auto !important;
		margin-right: auto !important;
	}
}
@media screen and (min-width: 601px){
	.info p{
		font-size: 0.8em !important;
	}
	.info .field{
		font-size: 0.9em !important;
		font-weight: 600 !important;
	}
	.card-content.box{
		margin: 0 !important;
		margin-inline-start: .5em !important;
	}
	.image{
		width: 30% !important;
		height: 30% !important;
	}
	.card-content.box{
		width: 60%;
	}
	.product-card{
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
@media screen and (max-width: 350px){
	.form, .search .box {
		width: 100% !important;
	}

	.wrapper{
		width: 98.5% !important;
	}

	.button-group{
		margin-inline-start: 0em !important;
	}

	.wrapper{
		width: 100% !important;
	}
	.up-menu, .search, .product-card, .button-group, .wrapper{
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.image, .card-content.box{
		width: 67.5% !important;
	}

}
@media screen and (min-width: 350px) and (max-width: 400px){
	.form {
		width: 100% !important;
	}
	.image{
		width: 60.5% !important;
	}
	.card-content.box{
		width: 85.5% !important;
	}
}
@media screen and (min-width: 401px) and (max-width: 500px){
	.form {
		width: 88% !important;
	}
	.image{
		width: 50% !important;
	}
	.card-content.box{
		width: 80.5% !important;
	}


}
@media screen and (min-width: 501px) and (max-width: 600px){
	.form {
		width: 75% !important;
	}
	.image{
		width: 50% !important;
	}
	.card-content.box{
		width: 80.5% !important;
	}
	
	.card-content.box{
		margin-top: .5em;
		padding: .75em !important;

	}
}
@media screen and (min-width: 601px) and (max-width: 700px){
	.form{
		width: 65% !important;
		margin-left: auto;
		margin-right: auto;
	}
	.product-card{
		width: 97.5%;
	}
	
}
@media screen and (min-width: 701px) and (max-width: 800px){
	.form {
		width: 59% !important;
	}
	.product-card{
		width: 97.5%;
	}

	
}
@media screen and (min-width: 801px) and (max-width: 900px){
	.form {
		width: 50% !important;
	}
	.products, .up-menu, .product-card{
		width: 100% !important;
	}
	.up-menu{
		margin-left: auto !important;
		margin-right: auto !important;
	}

	
}
@media screen and (min-width: 901px) {
	.form {
		width: 45% !important;
	}
	.products, .up-menu{
		width: 100% !important;
	}
	.product-card{
		width: 80% !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.up-menu{
		margin: auto !important;
	}
	.image{
		width: 30% !important;
		height: 30% !important;
	}
	.card-content.box{
		width: 55% !important;
	}

}


.button, .input.is-small{
	border-radius: 4px !important;
}
.file.has-name .file-cta {
	border-radius:  0 4px 4px 0;
}
.file-name{
	border-radius: 4px 0 0 4px;
}


.search .control{
	display: inline-block;
	margin-block-start: .25rem;
}

.search .control .input, .search button{
	border: none !important;
}

::-webkit-input-placeholder{
	color: rgb(126, 126, 126) !important;
	font-size: .9em !important;
}
:-ms-input-placeholder{
	color:  rgb(126, 126, 126) !important;
	font-size: .9em !important;
}
::placeholder {
	color:  rgb(126, 126, 126) !important;
	font-size: .9em !important;
}

.dropdown button{
	margin-inline-start: 0px !important;
}

.up-menu .input{
	vertical-align: bottom !important;
}

.search .button{
	margin: 0 !important;
	margin-block-start: .5em;
}


.box img{
	width: 200px;
	height: 200px;
}

.box:last-child{
	margin-bottom: 1.5rem;
}

.content .field{
	margin: 0 !important;
}

.info{
	margin-bottom: .35em;
}

.image img:hover{
	transform: scale(1.05);
	transition-duration: 1s;
	transition-timing-function: ease-in-out;
}
.image{
	overflow: hidden !important;
}

.content{
	margin: 0 !important;
}
.cart-add button{
	background-color: transparent;
	vertical-align: middle !important;
}

.cart-add img{
	vertical-align: bottom;
	width: 1.75em;
	height: 1.75em;
	vertical-align: middle !important;
	padding: 0;
}

.cart-add .input, .cart-add button{
	padding: .2em !important;
	border: none !important;
}

.add-cart-form{
	display: flex !important;
	justify-content: flex-end !important;
}

.info .price{
	font-weight: 600 !important;
	font-size: 0.85em !important;
	margin-top: 1em !important;
}
.tag{
	padding-left: 8px !important;
	padding-right: 8px !important;
	border: solid 1px !important;
	border-radius: 40px !important;
	width: fit-content !important;
	height: auto !important;
	color: black !important;
	background-color: transparent !important;
	margin-inline-end: .5em !important;
	display: inline-block !important;
}

.content p{
	margin-bottom: .5em !important;
}

.products{
	display: grid !important;
	grid-template-columns: repeat(auto-fit, minmax(285px, max-content)) !important;
	padding: initial;
	justify-content: center !important;
}

.user{
	font-size: .785rem !important;
}

.notification{
	width: 50% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%,-50%) !important;
	z-index: 333;
}